---
layout:     blog
custom_js:  
    - blog 
    - instagram
title:      Blog
---

{% capture tags %}
    {% for tag in site.tags %}
        {{ tag[0] }}
    {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

{% for post in site.posts %}
    {% assign thiswords = post.content | number_of_words %}
    {% assign totalwords = totalwords | plus: thiswords %}
{% endfor %}

{% assign postcount = site.posts | size %}

{% assign millions = totalwords | divided_by: 1000000 %}
{% assign thousands = totalwords | divided_by: 1000 %}
{% if millions != 0 %}
    {% assign thousands = totalwords | divided_by: 1000 | modulo: 1000 %}
    {% assign hundreds = totalwords | modulo: 1000 %}
    {% assign formattedtotalwords = millions | append:',' | append:thousands | append:',' | append:hundreds %}
{% elsif thousands != 0 %}
    {% assign hundreds = totalwords | modulo: 1000 %}
    {% assign formattedtotalwords = thousands | append:',' | append:hundreds %}
{% else %}
    (% assign formattedtotalwords = totalwords %}
{% endif %}

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 intro-bg">
                    <h1>Cameron Doyle - Blog</h1>
                    <p>I've written a total of {{ postcount }} posts on this site, consisting of {{ formattedtotalwords }} words (an average of {{ totalwords | divided_by: postcount }} words per article). The most recent post, <a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a>, can be read below. The full archive is available at the bottom of this page.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="blog">
    <section id="about" class="content-section">
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                {% for post in site.posts limit:1 %}
                    {% assign wordcount = post.content | number_of_words %}
                    <h2>Latest Post - <a href="{{ post.url }}">{{ post.title }}</a></h2>
                    <div class="post-details">
                        {{ post.date | date: "%d %B" }} | <abbr title="{{ post.content | number_of_words }} words">{{ wordcount | divided_by: 200 | plus: 1 }} min{% if wordcount > 200 %}s{% endif %}</abbr><br />
                        {% for tag in post.tags %}
                            <a class="archive-filter #{{ tag }} page-scroll" href="#blog-archive">{{tag}}{% if tag == "charlie" %} <i class="fa fa-paw fa-fw"></i>{% endif %}</a>{% unless post.tags.size == 1 %}{% if forloop.rindex0 == 1 %} &{% elsif forloop.last == false %}, {% endif %}{% endunless %}
                        {% endfor %}
                    </div>
                    {{ post.excerpt }} 
                    <p class="post-read-more">
                        <a class="read-more" data-toggle="collapse" data-target="#post-expand" aria-expanded="false" aria-controls="post-expand"><span>Read more&nbsp;</span><i class="fa fa-toggle-down"></i></a>
                    </p>
                    <div class="collapse" id="post-expand">
                        {{ post.content | remove: post.excerpt }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Archive Section -->
    <section id="blog-archive" class="content-section inverted text-center">
        <div class="row archive">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="col-lg-3 archive-left-side">
                    <div id="filter-wrapper">
                        <ul class="list-inline filter-toggle">
                            <li><a class="filter-switch filter-on"><i class="fa fa-check-circle-o fa-fw"></i> Category</a></li>
                            <li><a class="filter-switch filter-off"><i class="fa fa-circle-o fa-fw"></i> Date</a></li>
                        </ul>
                        <div class="post-divider"></div>
                        <ul class="list-inline select-clear">
                            <li><a class="all-posts selectall"><i class="fa fa-plus-square fa-fw"></i> Select All</a></li>
                            <li><a class="all-posts clearall"><i class="fa fa-minus-square fa-fw"></i> Clear All</a></li>
                        </ul>
                        <div id="category-list">
                            <ul class="list-unstyled">
                            {% for tag in sortedtags %}
                                <li><a class="category selected" id="{{ tag }}"><i class="fa fa-check-square fa-fw"></i> {{ tag }}{% if tag == "charlie" %} <i class="fa fa-paw fa-fw"></i>{% endif %} ({{ site.tags[tag] | size }})</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div id="date-list" class="filter-hidden">
                            <ul class="list-unstyled">
                            {% assign counter = 0 %}
                            {% for post in site.posts %}
                                {% capture month %}{{ post.date | date: '%b %Y' }}{% endcapture %}
                                {% capture prevmonth %}{{ post.previous.date | date: '%b %Y' }}{% endcapture %}
                                {% assign counter = counter | plus: 1 %}
                                {% if month != prevmonth %}
                                    <li><a class="date selected" id="{{ post.date | date: '%b%Y' }}"><i class="fa fa-check-square fa-fw"></i> {{ post.date | date: '%b %Y' }} ({{ counter }})</a></li>
                                    {% assign counter = 0 %}
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="post-list" class="col-lg-9 archive-right-side">
                <h2>Blog Archive</h2>
                <div class="post-divider"></div>
                    <table id="no-blog-posts" class="table posts hidden">
                        <tbody>
                            <tr class="blog-teaser">
                                <td class="blog-teaser-title">No Posts Found</td>
                            </tr>
                            <tr>
                                <td class="blog-teaser-excerpt">Please use the filters on the left to select a subset of posts to view, or click "Select All" to display the full archive of posts. The total number of posts in each filter is listed in brackets next to the filter name.</td>
                            </tr>
                            <tr>
                                <td colspan="2"><div class="post-divider"></div></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table posts">
                        {% for post in site.posts %}
                            {% assign wordcount = post.content | number_of_words %}
                            <tbody class="archive-excerpt #{{ post.date | date: '%b%Y' }}">
                                <tr class="blog-teaser">
                                    <td class="blog-teaser-title"><a href="{{ post.url }}">{{ post.title }}</a></td>
                                    <td rowspan="2" class="blog-teaser-date">
                                        {{ post.date | date: "%d %B %Y" }}<br>
                                        <span class="blog-teaser-tag">
                                        {% for tag in post.tags %}
                                            <a class="archive-filter #{{ tag }} page-scroll" href="#blog-archive">{{ tag }}{% if tag == "charlie" %} <i class="fa fa-paw fa-fw"></i>{% endif %}</a>{% unless post.tags.size == 1 %}{% if forloop.rindex0 == 1 %} &{% elsif forloop.last == false %}, {% endif %}{% endunless %}
                                        {% endfor %}
                                        </span><br>
                                        <span class="blog-teaser-wordcount">
                                            <abbr title="{{ post.content | number_of_words }} words">{{ wordcount | divided_by: 200 | plus: 1 }} min read</abbr>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="blog-teaser-excerpt">{{ post.excerpt | strip_html }} <a href="{{ post.url }}"><span class="blog-teaser-tag">Read more</span></a></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><div class="post-divider"></div></td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>