        <!-- Footer -->
        <footer class="container">
            <div class="left-footer">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="mailto:{{ site.author.email }}" target="_blank" class="btn social-icon" title="E-mail"><i class="fa fa-envelope-o fa-fw"></i></a>
                    </li>
                    <li>
                        <a href="https://facebook.com/{{ site.author.facebook }}" target="_blank" class="btn social-icon" title="Facebook"><i class="fa fa-facebook-official fa-fw"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" class="btn social-icon" title="Twitter"><i class="fa fa-twitter fa-fw"></i></a>
                    </li>
                    <li>
                        <a href="https://instagram.com/{{ site.author.instagram }}" target="_blank" class="btn social-icon" title="Instagram"><i class="fa fa-instagram fa-fw"></i></a>
                    </li>
                </ul>
            </div>
            <div class="centre-footer">
                <div id="mc_embed_signup">
                    <form action="//camerondoyle.us13.list-manage.com/subscribe/post?u=1f1ccfe804d7833ca1f07c968&amp;id=519660a598" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">                
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder=" Email Address" required>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1f1ccfe804d7833ca1f07c968_519660a598" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="right-footer">
                <p>Last updated <abbr title="Most recent site rebuild: {{ site.time }}">{{ site.time | date:'%B %Y' }}</abbr> <i class="fa fa-calendar fa-fw"></i></p>
                <p>Hosted on <a href="https://github.com/CameronD17/blog" target="_blank" title="GitHub repo">GitHub Pages</a> <i class="fa fa-github fa-fw"></i></p>
            </div>
        </footer>

        <!--Scripts-->
        {% if page.url == "/" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>        
        {% endif %}
        {% if page.custom_js %}{% for js_file in page.custom_js %}{% if js_file == "instagram" %}<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>{% else %}<script src="/assets/js/{{ js_file }}.js"></script>{% endif %}{% endfor %}{% endif %}
        
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-66424305-1', 'auto');
          ga('send', 'pageview');
        </script>