.archive {
    display: table;
}

.archive-left-side {
    float: none;
    display: table;
    position: relative;
    text-align: left;
    height: 600px;
    padding-bottom: 100px;
    width: 100%;
    
    @include desktop {
        float: none;
        display: table-cell;
        position: relative;
        padding-bottom: 0;
        width: 25%;
    }
}

.archive-right-side {
    width: 100%;
    
    @include desktop {
        float: none;
        display: table-cell;
        position: relative;
        width: 75%;
    }
}

.posts {
    list-style-type: none;
    padding: 0px;
}

.post-details {
    margin: 0 0 35px;
    text-align: center;
    text-transform: uppercase;
    font-family: $title-font;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 1px;
}

.blog-teaser {
    margin-bottom: 25px;
    font-weight: 700;
    width: 100%;
    text-align: left;
}

.blog-teaser-date {
    font-size: 16px;
    vertical-align: middle !important;
    text-align: right;
    width: 25%;
}

.blog-teaser-wordcount,
.blog-teaser-tag {
    display: none;
    
    @include desktop {
        display: inline;
    }
}

.blog-teaser-excerpt {
    font-size: 16px;
    font-style: italic;
    text-align: left;
}

.archive-title {
    text-align: left;
    
    @include desktop {
        margin: 0;
        padding: 15px 0 15px 0;
    }
}

.post-divider{
    float:left;
    width:100%;
    height:2px;
    background-color:$accent-colour;
    margin: 20px 0;
    -webkit-column-span: all;
    column-span: all;
}

.post-read-more{
    text-align: center;
}

.archive-section {
    width: 100%;
    padding: 0 10px;
}

.archive-excerpt.hidden {
    display: none;
}

#no-blog-posts {
    display: table-cell;
    
    .hidden {
        display: none;
    }
}

#category-list {
    display: table;
    width: 240px;
    margin: 0 auto;
    
    @include desktop {
        position: absolute;
        display: block;
    }
}

.category-list-fixed {
    position: fixed !important;
    top: 100px;
    width: 20.83%;
    margin: 0;
}

.category-list-bottom {
    position: absolute; 
    bottom: 0px;
}