.social-icon {
    width: 44px;
    height: 43px;
    font-size: 35px;
    
    &:hover, &:focus {
        color: $link-hover-colour;
        text-decoration: none;  
    }
}

.email-address {
    padding-left: 12px;
    font-size:23px;
}

footer {
    padding: 50px 0 50px 0;
}

.left-footer {
    width: 100%;
    text-align: center;
    p {
        font-size: 15px;
    }
} 

.right-footer {
    display: none;
}

@media(min-width:768px){
    .left-footer {
        float: left;
        width: 50%;
        text-align: left;
    }

    .right-footer {
        display: inline;
        float: right;
        width: 50%;
        p,a {
            font-size: 15px;
            text-align: right;
            margin: 5px 0;
        }
    }
}