.old-project {
    border-left: 10px solid $link-colour !important;
    background: $accent-colour-muted;
    padding-left: 40px;
    
    &:before {
        color: $link-colour;
        font-size: 40px;
        font-weight: 800;
        content: "!";
        position: absolute;
        left: 40px;
        vertical-align: center;
        padding-top: 0;
    }
}

.post-tags {
    font-size: 15px;
    font-style: italic;
}