.strava-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.strava {
    margin: 1px 1px 20px 1px;
    height: 405px;
    width: 590px;
    max-width:calc(100% - 2px);
}
