<!DOCTYPE html>
<html lang="en">    
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    
        {% include nav.html %}
        
        <!-- Page Content -->
        <div class="page-content">
            <div class="wrapper">
                <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
                    <div class="post-content" itemprop="articleBody">
                        {{ content }}
                    </div>
                </article>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>