{% assign wordcount = page.content | number_of_words %}
<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
    {% include menu/menu.html %}
        <!-- Navigation -->
        <nav class="navbar navbar-custom" role="navigation">
            <div class="container">
                <a href="{{ site.baseurl }}/">Archive</a>
            </div>
        </nav>
        <!-- Page Content -->
        <div class="page-content">
            <div class="wrapper">
                <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
                    <div class="post-content" itemprop="articleBody">
                        <!-- Intro Header -->
                        <header class="intro">
                            <div class="intro-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2 intro-bg">
                                            <h1>
                                                {{ page.title }}
                                            </h1>
                                            <div class="post-details intro-text">
                                                {{ page.date | date: "%d %B %Y" }} | <abbr title="{{ page.content | number_of_words }} words">{{ wordcount | divided_by: 200 | plus: 1 }} min{% if wordcount > 200 %}s{% endif %}</abbr><br />
                                                {% for tag in page.tags %}
                                                    <a href="{{ site.baseurl }}/#{{tag}}">{{tag}}{% if tag == "charlie" %} <i class="fa fa-paw fa-fw"></i>{% endif %}</a>{% unless post.tags.size == 1 %}{% if forloop.rindex0 == 1 %} &{% elsif forloop.last == false %}, {% endif %}{% endunless %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </header>

                        <section class="content-section">
                            <div class="container">
                                <div class="col-lg-10 col-lg-offset-1">
                                    {{ content }}
                                    {% for tag in page.tags %}
                                        {% if tag == "charlie" %}
                                        <blockquote>
                                            <p><em><a href="https://www.instagram.com/charlie.border.collie">Charlie is on Instagram as charlie.border.collie, if you would like to see more pictures of him.</a></em></p>
                                        </blockquote>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </section>
                        
                        {% assign otherposts = false %}
                        {% for tag in page.tags %}
                            {% assign postsWithTag = site.tags[tag] | size %}
                            {% if postsWithTag != 1 %}
                                {% assign otherposts = true %}
                            {% endif %}
                        {% endfor %}

                        {% if otherposts == true %}
                            <section class="content-section text-center">
                                 <div class="container">
                                    <div class="col-lg-10 col-lg-offset-1">
                                        {% assign pagetags = page.tags.size %}
                                        {% for tag in page.tags %}
                                            {% assign postCount = 0 %}
                                            {% for post in site.tags[tag] %}
                                                {% assign postCount = postCount | plus: 1 %}
                                            {% endfor %}
                                            {% if postCount == 1 %}
                                                {% assign pagetags = pagetags | minus: 1 %}
                                            {% endif %}
                                        {% endfor %}

                                        {% for tag in page.tags %}                                        
                                            {% assign postsWithTag = site.tags[tag] | size %}                                            
                                            {% if postsWithTag > 1 %}
                                                {% if pagetags == 2 %}<div class="col-lg-6">{% elsif pagetags == 3 %}<div class="col-lg-4">{% endif %}
                                                    <h3>Recent "{{ tag }}" posts</h3>
                                                    <div class="post-divider"></div>
                                                    <table class="table posts">
                                                        {% assign postCounter = 0 %}
                                                        {% assign maxPosts = 3 %}
                                                        {% for post in site.tags[tag] %}
                                                            {% if post.title != page.title %}
                                                                {% assign postCounter = postCounter | plus: 1 %}
                                                                <tbody class="archive-excerpt">
                                                                    <tr class="blog-teaser">
                                                                        <td class="blog-teaser-title"><a href="{{ post.url }}">{{ post.title }}</a></td>
                                                                        <td class="blog-teaser-date">{{ post.date | date: "%d %b %Y" }}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="2"><div class="post-divider"></div></td>
                                                                    </tr>
                                                                </tbody>
                                                            {% endif %}
                                                            {% if postCounter >= maxPosts %}{% break %}{% endif %}
                                                        {% endfor %}
                                                    </table>
                                                    {% if postsWithTag > maxPosts %}
                                                        <h4>
                                                            <a href="{{ site.baseurl }}/#{{tag}}">More "{{ tag }}{% if tag == "charlie" %} <i class="fa fa-paw fa-fw"></i>{% endif %}" posts</a>
                                                        </h4>
                                                    {% endif %}
                                                {% if pagetags != 1 %}</div>{% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </section>
                        {% endif %}
                        <section class="content-section text-center">
                            <div class="container">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <div class="col-lg-6">
                                    {% if page.previous.url %}
                                        <h4>Previous Post</h4>
                                        <h3><a class="prev" href="{{ page.previous.url }}"><i class="fa fa-arrow-circle-o-left fa-fw"></i> {{ page.previous.title }}</a></h3>
                                    {% endif %}
                                    </div>
                                    <div class="col-lg-6">
                                    {% if page.next.url %}
                                        <h4>Next Post</h4>
                                        <h3><a class="next" href="{{ page.next.url }}">{{ page.next.title }} <i class="fa fa-arrow-circle-o-right fa-fw"></i></a></h3>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </article>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>

